<%# <div class="navbar-expand-sm navbar-solar py-2">
    <div class="navbar-container d-lg-flex flex-items-center p-responsive">
        <div class="d-flex flex-justify-between flex-items-center">
            <div class="navbar-logo flex-items-center">
                <%= link_to root_path, class: "navbar-brand" do %>
                    <%# <h3 style="color: grey;"><strong>Royal Solar</strong></h3>
                <% end %>
            <%# </div>
        </div>
   %>
        <%# <div class="navbar-menu top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto">
            <nav class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0" aria-label="Global">
                <ul class="navbar-list">
                    <li class="mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center">
                        <details class="HeaderMenu-details details-overlay details-reset width-full">
                            <summary class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block">
                                Why use us?
                                <%# <i class="fas fa-angle-down"></i> %>
                                <%# <svg x="0" y="0" viewBox="0 0 14 8" xml:space="preserve" fill="none" class="icon-chevon-down-mktg position-absolute position-lg-relative">
                                    <path d="M1,1l6.2,6L13,1"></path>
                                </svg> %>
                            <%# </summary>
                            <div class="dropdown-menu flex-auto rounded px-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4">
                                <ul class="list-style-none f5 pb-1">
                                    <li>
                                        <a href="/solar" class="lh-condensed-ultra d-block no-underline position-relative Link--primary text-bold py-2">Why Solar?</a>
                                    </li>
                                </ul>
                            </div>
                        </details> 
                    </li> %>



                    <%# <li class="mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center">
                        <%= link_to "About Us", about_path, class: "HeaderMenu-link no-underline py-3 d-block d-lg-inline-block" %>
                    <%# </li>
                    <li class="mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center">
                        <%= link_to "Contact Us", contact_path, class: "HeaderMenu-link no-underline py-3 d-block d-lg-inline-block" %>
                    <%# </li>
                </ul> 
            </nav> %> 

            <%# <div class="d-lg-flex flex-items-center px-3 px-lg-0 text-center text-lg-left">
                <div class="position-relative mr-3 mb-4 mb-lg-0 d-inline-block">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <%= link_to "Action", "#", class: "dropdown-item" %>
                        <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
                    <%# </div>
                </div>
            </div> %> 



            <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        
                    </li>
                    <li class="nav-item">
                        
                    </li>
                    <li class="nav-item">
                        
                    </li>
                    <li class="nav-item dropdown">
                        
                    </li>
                </ul>
            </div> %>
        <%# </div>
    </div>
</div> %> 







<div class="navbar navbar-expand-sm navbar-solar">
  <div class="container-fluid">
    <div class="navbar-logo flex-items-center">
        <%= link_to root_path, class: "navbar-brand" do %>
            <h3 style="color: grey;"><strong>Royal Solar</strong></h3>
         <%end%>
    </div>


    <div class="navbar-list-center">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Residential Solar</span></a>
            </li>
            <li class="nav-item">
                <a href="/" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Commercial Solar</span></a>
            </li>
        </ul>
    </div>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="navbar-list-end">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a href="/" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Home</span></a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="tds-site-nav-item tds-animate--backdrop tds--product-name"><span class="tds-site-nav-item-text">Contact Us</span></a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light">Free Quote</button>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
